* {
   margin: 0;
   padding: 0;
   font-family: 'Open Sans', sans-serif;
}

.header {
   min-height: 100vh;
   width: 100%;
   background-image: linear-gradient(to left, rgba(40, 11, 43, 0.7), rgba(21, 16, 51, 0.7)), url(images/banner.png);
   background-position: center;
   background-size: cover;
   position: relative;
}


nav {
   display: flex;
   padding: 2% 6%;
   justify-content: space-between;
   align-items: center;
}

nav img {
   width: 200px;
}

/* makes the logo light up on hover */
.wrapper {
   width: 200px;
}

figure {
   float: left;
}

.hover-ani {
   position: relative;
   width: 200px;
   color: #fff
}

.hover-ani img {
   position: absolute;
   width: 200px;
   left: 0;
   -webkit-transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
   -ms-transition: opacity 1s ease-in-out;
   -o-transition: opacity 1s ease-in-out;
   transition: opacity 1s ease-in-out;
}

.hover-ani img.img-front {
   opacity: 0;
}

.hover-ani img.img-front:hover {
   opacity: 100;
   cursor: pointer;
}

/* -------------------------- */
.nav-links {
   flex: 1;
   text-align: right;
}

.nav-links ul li {
   list-style: none;
   display: inline-block;
   padding: 8px 12px;
   position: relative;
}

.nav-links ul li a {
   color: #fff;
   text-decoration: none;
   font-size: 14px;
   letter-spacing: 1px;
}

.nav-links ul li::after {
   content: '';
   width: 0%;
   height: 2px;
   background: #f39b06;
   display: block;
   margin: auto;
   transition: 0.5s;
}


.nav-links ul li:hover::after {
   width: 100%
}


.text-box {
   width: 90%;
   color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}

.text-box h1 {
   font-size: 62px;
}

.text-box p {
   margin: 10px 0 40px;
   font-size: 14px;
   color: #fff
}

.text-box .repo {
   color: #f39b06;
   text-decoration: none;
}

.hero-btn {
   display: inline-block;
   text-decoration: none;
   color: #fff;
   border: 1px solid #fff;
   padding: 12px 34px;
   font-size: 15px;
   background: transparent;
   position: relative;
   cursor: pointer;
}

.hero-btn:hover {
   border: 1px solid #f39b06;
   background: #f39b06;
   transition: 1s;
}

nav .fa {
   display: none;
}

@media(max-width: 600px) {

   /* nav bar and header */
   .text-box h1 {
      font-size: 20px;
   }

   .nav-links ul li {
      display: block;
   }

   .nav-links {
      position: absolute;
      background: #f39b06;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
   }

   nav .fa {
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
   }

   .nav-links ul {
      padding: 30px;
   }

   /* about page*/



   .row {
      flex-direction: column;
   }


   /* cta  */
   .cta h1 {
      font-size: 24px;
   }

}




/*-------------- about me page ----------------------*/
.sub-header {
   height: 50vh;
   width: 100%;
   background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/banner.png);
   background-position: center;
   background-size: cover;
   text-align: center;
   color: #fff
}

.sub-header h1 {
   font-size: 50px;
   margin-top: 100px;
}

/* ------ details ------------*/

.details {
   width: 80%;
   margin: auto;
   text-align: center;
   padding-top: 100px;
}


h1 {
   font-size: 36px;
   font-weight: 600;
}

p {
   color: rgb(47, 47, 47);
   font-size: 14px;
   font-weight: 300;
   line-height: 22px;
   padding: 10px;
}

.row {
   margin-top: 5%;
   display: flex;
   justify-content: space-between;
}

.details-col {
   flex-basis: 31%;
   background: rgba(243, 155, 6, .35);
   border-radius: 10px;
   margin-bottom: 5%;
   padding: 20px 12px;
   box-sizing: border-box;
   transition: 0.7s;
}

h3 {
   text-align: center;
   font-weight: 600;
   margin: 10px 0;
}


.details-col:hover {
   box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.2);
}


/*----- skills ----*/

.skills {
   width: 80%;
   margin: auto;
   text-align: center;
   padding-top: 50px;
}

.skills-col {
   background-color: rgba(65, 56, 42, 0.35);
   flex-basis: 32%;
   border-radius: 10px;
   margin-bottom: 30px;
   position: relative;
   overflow: hidden;
   margin-left: 5px;
   margin-right: 5px;
}

.skills-col img {
   width: 100%;
   display: block;
}

.layer {
   background: transparent;
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   transition: 0.5s;
}

.layer:hover {
   background: rgba(0, 0, 0, 0.5);
}

.layer h2 {
   width: 100%;
   font-weight: 500;
   color: #fff;
   font-size: 26px;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   position: absolute;
   opacity: 0;
   transition: 0.5s;
}

.layer:hover h2 {
   bottom: 49%;
   opacity: 1;
}

/*---call to action---*/

.cta {
   margin: 100px auto;
   width: 80%;
   background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/banner2.jpg);
   background-position: center;
   background-size: cover;
   border-radius: 10px;
   text-align: center;
   padding: 100px 0;
}

.cta h1 {
   color: #fff;
   margin-bottom: 40px;
   padding: 0;
}



/*---footer---*/

.footer {
   width: 100%;
   text-align: center;
   padding: 30px 0;
}

.footer h4 {
   margin-bottom: 25px;
   margin-top: 20px;
   font-weight: 600;
}

.icons .fa {
   color: #f39b06;
   margin: 0 13px;
   cursor: pointer;
   padding: 18px 0;
}



/*---------contact form----------*/

form {
   background: rgba(21, 16, 51, 0.65);
   width: 640px;
   margin: 50px auto;
   max-width: 95%;
   border-radius: 16px;
   padding: 30px 30px;
   color: #fff;
}

form .contact-title {
   letter-spacing: 8px;
   border-bottom: 1px solid white;
   font-weight: bold;
   padding-bottom: 8px;
   margin-bottom: 32px;
}

form .half {
   display: flex;
   justify-content: space-between;
}

form .half.item {
   display: flex;
   flex-direction: row;
   margin-bottom: 24px;
   width: 48%;
}

form label {
   display: block;
   font-size: 13px;
   letter-spacing: 3.5px;
   margin-bottom: 16px;
}

form .half .item input {
   border-radius: 4px;
   border: 1px solid white;
   outline: 0;
   padding: 16px;
   width: 90%;
   height: 22px;
   background: transparent;
   color: white;
}


form .full {
   margin-bottom: 24px;
}

form .full textarea {
   background: transparent;
   border-radius: 4px;
   border: 1px solid white;
   outline: 0;
   padding: 12px 16px;
   width: 95%;
   height: 200%;
   font-size: 17px;
   color: white;
}

form .action {
   margin-bottom: 32px;
}

form .action input {
   background: transparent;
   border-radius: 4px;
   border: 1px solid white;
   cursor: pointer;
   color: white;
   font-size: 13px;
   font-weight: bold;
   height: 44px;
   letter-spacing: 3px;
   padding: 0 20px 0 22px;
   margin-right: 10px;
}


form .action input[type="submit"] {
   background: white;
   color: black;
   transition: 1s;
}

form .action input:hover {
   background: transparent;
   border: 1px solid #f39b06;
   color: #f39b06;
   font-weight: bold;
}

form .ficons a {
   color: white;
   margin-right: 13px;
   cursor: pointer;
   padding: 18px 0;
   transition: 1s;
}

form .ficons a:hover {
   color: #f39b06;
}
